* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-control {
    outline: none;
}

.form-control:focus,
.form-control:active {
    outline: none;
}

.col-6,
.col-4 {
    padding: 5px 10px;
}